APP=design_lab

APPLICATIONS_PATH=../apps

DATA_PATH=~/.dockery/data

RUBY_VERSION=2.4.2

RUBY_IMAGE_NAME=dockery_ruby
RUBY_BUNDLE_DIR=bundle
RUBY_INSTALL_RAILS=true
RUBY_INSTALL_NODE=true
RUBY_INSTALL_YARN=true
RUBY_INSTALL_POSTGRES=true
RUBY_RAILS_PORT=3000
RUBY_RAILS_VERSION=5.1.4
RUBY_DB_HOST=postgres
RUBY_DB_USER=root
RUBY_DB_PASSWORD=secret
RUBY_DB_NAME=default
RUBY_DB_PORT=5432

POSTGRES_USER=root
POSTGRES_DB=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_TIMEZONE=UTC

DOCKER_SYNC_STRATEGY=native_osx
