APPLICATION=../apps

RUBY_VERSION=242

# Create below folder on your host machine with a write access from docker container
RUBY_BUNDLE_DIR=/private/var/bundle/2.4.2

RUBY_INSTALL_RAILS=true
RUBY_INSTALL_NODE=true
RUBY_RAILS_PORT=3000
RUBY_RAILS_VERSION=5.1.4

DOCKER_SYNC_STRATEGY=native_osx
