APP=blog

APPLICATIONS_PATH=../apps

DATA_PATH=~/.dockery/data

MY_RUBY_VERSION=2.4.2

RUBY_IMAGE_NAME=dockery_ruby
RUBY_BUNDLE_DIR=bundle
RUBY_INSTALL_BUNDLER=true
RUBY_INSTALL_NODE=true
RUBY_INSTALL_YARN=true
RUBY_INSTALL_POSTGRES=true
RUBY_INSTALL_MYSQL=true
RUBY_INSTALL_QT_DEPS=true
RUBY_INSTALL_XVFB=true
RUBY_INSTALL_DOCKERIZE=true
RUBY_RAILS_PORT=3000
RUBY_RAILS_VERSION=5.1.4
RUBY_DB_HOST=postgres
RUBY_DB_USER=root
RUBY_DB_PASSWORD=secret
RUBY_DB_PORT=5432
RUBY_DB_ADAPTER=postgresql

POSTGRES_IMAGE_NAME=postgres:9.6
POSTGRES_USER=root
POSTGRES_DB=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=secret
MYSQL_TIMEZONE=UTC

DOCKER_SYNC_STRATEGY=native_osx
